@font-face {
  font-family: myFirstFont;
  src: url(ps.woff);
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

:root {
  --border-main: 1px solid #000;
}

::-webkit-scrollbar { 
  display: none; 
}

#app {
  border: var(--border-main);
}


div > div:not(:empty) {
  height: 100vh;
  border: var(--border-main);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}

.btn {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid rgba(0,0,0,0.5);
  cursor: pointer;
}

.fourth-btn {
  border-top: none;
  border-bottom: 20px solid rgba(0, 0, 0, 0.5);
}

.btn:hover {
  border-top: 20px solid #000;
}

.fourth-btn:hover {
  border-top: none;
  border-bottom: 20px solid #000;
}

#first {
  background-color: seagreen;
}

#first > span {
  font-family: myFirstFont;
  font-size: 14em;
  color: #FFF;
}

#second {
  background-color: goldenrod;
}

#third {
  background-color: mediumturquoise;
}

#fourth {
  background-color: orangered;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

  #first > span {
    font-size: 6em;
  }

  div > div:not(:empty) {
    height: 100vh;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  #first > span {
    font-size: 2em;
  }

}

