@font-face {
  font-family: ps;
  src: url(ps.woff);
}

*, *::before, *::after {
  -moz-transition: all 1.25s ease-in;
  -webkit-transition: all 1.25s ease-in;
  transition: all 1.25s ease-in;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

::-webkit-scrollbar { 
  display: none; 
}

html, body {
  overflow: hidden;
  /*overflow-y: hidden;*/
}

/*body {
  position: relative;
}*/

.btn {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: none;
  display: none;
}

.btn:hover {
  border-top: 30px solid #FFF;
}

/*FIRST*/
#first {
  height: 100vh;
  background-image: url('http://imagesofrmnp.com/images/large/Autumns-Last-Dawn-L.jpg');
  background-size: cover;
  padding: 4%;
}

.first-content {
  height: 100%;
  border: 7px solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.first-content-span {
  font-family: ps;
  font-size: 12em;
  color: transparent;
  padding: 2% 1% 0% 1%;
}

.horizontal-line {
  width: 80%;
  margin: 2% auto 0 auto;
  border-top: 2px solid transparent;
}

.first-btn {
  margin: 1.5% auto;
}

/*SECOND*/
#second {
  height: 100vh;
  padding: 4%;
  background: linear-gradient(to top right, #F46C62, #93A9CF);
}

.second-content {
  height: 100%;
  border: 7px solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4%;
  text-align: center;
}

.second-content-span {
  transition: none;
  color: #000;
  font-family: ps;
  font-size: 9em;
  display: none;
}

.second-btn {
  margin: 1.5% auto;
  border-top: 30px solid rgba(0, 0, 0, 0.5);
}

.second-btn:hover {
  border-top: 30px solid #000;
}

/*THIRD*/
#third {
  height: 100vh;
  background-image: url('http://eskipaper.com/images/grand-tetons-sunset-1.jpg');
  padding: 4%;
}

.third-content {
  height: 100%;
  border: 7px solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.third-content-span {
  font-family: ps;
  color: transparent;
  padding: 2%;
  font-size: 9.5em;
}

.third-content-span-two {
  font-family: ps;
  color: transparent;
  padding: 1%;
  font-size: 8em;
}

.third-btn {
  border-top: none;
  border-bottom: 30px solid rgba(255, 255, 255, 0.5);
  margin: 1.5% auto;
}

.third-btn:hover {
  border-top: none;
  border-bottom: 30px solid #FFF;
}

/*Media Queries*/
@media only screen and (max-width: 1024px) {
  .btn {
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid rgba(255, 255, 255, 0.5);
  }
  .btn:hover {
    border-top: 30px solid #FFF;
  }
  #first, #second, #third {
    padding: 7%;
  }
  .first-btn, .second-btn, .third-btn {
    margin: 2% auto;
  }
  .second-btn {
    border-top: 30px solid rgba(0, 0, 0, 0.5);
  }
  .second-btn:hover {
    border-top: 30px solid #000;
  }
  .third-content-span {
    padding: 2%;
  }
  .third-content-span-two {
    padding: 1%;
  }
  .third-btn {
    border-top: none;
    border-bottom: 30px solid rgba(255, 255, 255, 0.5);
  }
  .third-btn:hover {
    border-top: none;
    border-bottom: 30px solid #FFF;
  }
}

@media only screen and (max-width : 480px) {
  .btn {
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    border-top: 26px solid rgba(255, 255, 255, 0.5);
  }
  .btn:hover {
    border-top: 26px solid #FFF;
  }
  .first-content-span {
    font-size: 5em;
  }
  #first, #second, #third {
    padding: 10.5%;
  }
  .first-btn, .second-btn, .third-btn {
    margin: 2% auto;
  }
  .second-content-span {
    font-size: 4em;
  }
  .second-btn {
    border-top: 26px solid rgba(0, 0, 0, 0.5);
  }
  .second-btn:hover {
    border-top: 26px solid #000;
  }
  .third-content-span {
    padding: 2%;
    font-size: 4.25em;
  }
  .third-content-span-two {
    padding: 1%;
    font-size: 3em;
  }
  .third-btn {
    border-top: none;
    border-bottom: 26px solid rgba(255, 255, 255, 0.5);
  }
  .third-btn:hover {
    border-top: none;
    border-bottom: 26px solid #FFF;
  }
}
